#Haii

***Testing DEK***

In [1]:
print("Hello World!")

Hello World!

In [1]:
import pandas as pd
     
#ubah file csv menjadi dataframe
df = pd.read_csv('Mall_Customers.csv')
     
# tampilkan 3 baris pertama
df.head(3)

   CustomerID  gender  age  annual_income  spending_score
0           1       1   19             15              39
1           2       1   21             15              81
2           3       0   20             16               6

In [2]:
df = df.rename(columns={'Gender': 'gender', 'Age': 'age',
                            'Annual Income (k$)': 'annual_income',
                            'Spending Score (1-100)': 'spending_score'})
     
# ubah data kategorik menjadi data numerik
df['gender'].replace(['Female', 'Male'], [0,1], inplace=True)
     
# tampilkan data yang sudah di preprocess
df.head(3)

   CustomerID  gender  age  annual_income  spending_score
0           1       1   19             15              39
1           2       1   21             15              81
2           3       0   20             16               6

In [5]:
from sklearn.cluster import KMeans
     
# menghilangkan kolom customer id dan gender
X = df.drop(['CustomerID', 'gender'], axis=1)
     
#membuat list yang berisi inertia
clusters = []
for i in range(1,11):
    km = KMeans(n_clusters=i).fit(X)
    clusters.append(km.inertia_)

ModuleNotFoundError: No module named 'sklearn'